html {
  height: 100%;
  margin: 0;
}
body{
  font-size: 16px;
  color: #4a4a4a;

}
header {
  z-index: 1;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: left;
  padding: 5px;
  height: 46px;
  background-color:white;
  border-bottom:5px  solid red;
}

header nav a {
  display: inline-block;
  color: black;
  text-align: left;
  padding: 8px 12px;
  margin: 0px 6px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  background: red;
  transition: 1s;
  border: 2px red solid;
}

main {
  width: 960px;
  margin: 0 auto;
}
#hero {
  height: 100%;
  background: url("user.gif") no-repeat center;
  background-color: #4a4a4a;
  font-size: larger;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Roboto', sans-serif;

}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.full-width-wrapper {
  width: 960px;
  margin: 0 auto;
}


.margin_top {
  margin: 100px auto 50px auto;
}


